@import "primeicons/primeicons.css";

.login-header {
    width: '25rem';
    overflow: 'hidden';
}

.p-card {
    background: #ffffff;
    color: #0f0f0f;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-msg {
    color: red;
}
